In [6]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("blondedman/pokmon-gen-1-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\goesd\.cache\kagglehub\datasets\blondedman\pokmon-gen-1-dataset\versions\1

In [5]:
import pandas as pd

In [7]:
pokemon_df = pd.read_csv("datasets/pokemon-gen-1.csv")

In [11]:
pokemon_df.head()

,number,name,types,type1,type2,height(m),weight(kg),male%,female%,capture,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,evolutions,legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,NaN,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,NaN,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0

In [ ]:
resultados = pokemon_df.loc[pokemon_df['type2'] == 'flying']
print(resultados)

In [31]:
tipos_unicos_tipo1 = pokemon_df['type1'].unique()
tipos_unicos_tipo2 = pokemon_df['type2'].unique()
print(tipos_unicos_tipo2)

['poison' nan 'flying' 'ground' 'grass' 'fighting' 'psychic' 'ice' 'rock'
 'water']

In [32]:
pokemon_grass = []

for p_type in pokemon_df['type1']:
    if p_type == 'grass':
        pokemon_grass.append(p_type)


print(pokemon_grass)

['grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass', 'grass']